.listItem {
  margin: 10px 0;
}

.listItem:hover {
  cursor: pointer;
  text-decoration: underline;
}

.listItemSelected {
  display: flex;
  justify-content: flex-start;
  font-size: larger;
  color: rgb(63, 188, 219);
}