.listItem {
  margin: 20px 0;
  font-size: 1.1rem;
  // border: solid 1px rgba(122, 26, 26, 0.3);
  // padding: 5px 10px;
}

.title {
}

.listItem:hover {
  cursor: pointer;
  .title {
    color: rgb(63, 188, 219);
  }
}

.listItemSelected {
  display: flex;
  justify-content: flex-start;
  color: rgb(63, 188, 219);
}
.tagContainer {
  display: flex;
  justify-content: flex-start;
}
.tagItem {
  padding: 2px;
  border-radius: 3px;
  background-color: rgb(171, 197, 24);
  color: white;
  margin: 0 3px;
}

.container {
  details {
    margin-top: 10px;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
  }

  details:hover {
    cursor: pointer;
  }

  summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
  }

  details[open] {
    padding: 0.5em;
  }

  details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
  }
}
