.articleList {
  position: sticky;
  top: 4rem;
  max-height: calc(100vh - 5rem - 40px - 2rem - 2rem);
  // flex: 1;
  // background-color: rgb(228, 240, 199);
  min-width: calc(20rem - 20px);
  margin-top: 0px;
  margin-left: 20px;
  padding: 10px;
  font-family: 'Brush Script Std', 'Hannotate SC';
  font-weight: 600;
  .listItem {
    margin: 5px 0;
  }

  .listItem:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .listItemSelected {
    text-decoration: underline;
  }
}
.warnText {
  color: darkred;
}
