.tabContainer {
  margin-top: 0;
  display: flex;
  padding-top: 1rem;
  height: 3rem;
  z-index: 10;
  justify-content: flex-start;
  font-family: 'Oooh Baby', 'Long_Cang';
  font-weight: bold;
  //font-family: "Comic Sans MS";
  margin-left: 20px;
  max-width: calc(100% - 40px);
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: #fff;
  border-bottom: solid 1px rgb(63, 188, 219);
  width: 100vw;
  @media screen and (max-width: 768px) {
    font-size: .7rem;
  }
  @media screen and (min-width: 768px) {
    font-size: 1.5rem;
    position: sticky;
    padding-top: 20px;
    top: 00px;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  .tabItem {
    margin-right: 20px;
  }
  .tabItem:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .selectedtabItem {
    color: rgb(63, 188, 219);
    text-decoration: underline;
  }
  .tabSkeleton {
    width: 70px;
    height: 30px;
    margin-left: 30px;
  }
}