@import "../../style/font.less";

.container {
  @media screen and (max-width: 768px) {
    width: 100vw;
    .hello{
      font-size: 2rem;
      line-height: 2.5rem;
      padding: 10px;
      font-family: 'Oooh Baby', 'Brush Script MT', @default-font-family;
      color: rgb(63, 188, 219);
    }
  }
  @media screen and (min-width: 768px) {
    margin: 100px auto;
    width: 750px;
    .hello{
      font-size: 3rem;
      font-family:'Oooh Baby', @default-font-family;
      color: rgb(63, 188, 219);
    }
  }
}