body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


::selection {
  color: #fff !important;
  background: rgb(235, 29, 91) !important;
}
::-moz-selection {
  color: #fff !important;
  background: rgb(235, 29, 91) !important;
}
::-webkit-selection {
  color: #fff !important;
  background: rgb(235, 29, 91) !important;
}
@font-face {
  font-family: 'Oooh Baby';
  src:  url('./assets/font/Oooh_Baby/OoohBaby-Regular.ttf');
}

@font-face {
  font-family: 'Long_Cang';
  src:  url('./assets/font/Long_Cang//LongCang-Regular.ttf');
}

@font-face {
  font-family: 'ZCOOL_KuaiLe';
  src:  url('./assets/font/ZCOOL_KuaiLe/ZCOOLKuaiLe-Regular.ttf');
}

@font-face {
  font-family: 'ZCOOL XiaoWei';
  src:  url('./assets/font/ZCOOL_XiaoWei/ZCOOLXiaoWei-Regular.ttf');
}

@font-face {
  font-family: 'Kalam_Light';
  src:  url('./assets/font/Kalam/Kalam-Light.ttf');
}

@font-face {
  font-family: 'Kalam_Regular';
  src:  url('./assets/font/Kalam/Kalam-Regular.ttf');
}

@font-face {
  font-family: 'Kalam_Bold';
  src:  url('./assets/font/Kalam/Kalam-Bold.ttf');
}

@font-face {
  font-family: 'YouYuan';
  src: url('./assets/font/QingNingYouYuan-2.ttf')
}